<div class="container">
    <div class="card card-container">
        <p class="font-weight-bold" style="font-size:20px; font-family: Arial, Helvetica, sans-serif">LOGIN</p>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <div class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>

            <input type="email" [(ngModel)]="email" id="email" class="form-control" placeholder="Email address">
            <input type="password" [(ngModel)]="password" id="password" class="form-control" placeholder="Password">
            
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login()">Sign in</button>
        </div>

    </div>
</div>