.menu-desktop.right{
    position: absolute;
    right: 10px;
    top: 0px;
}
.menu-desktop.right li a{
    font-size: 20px;
}

.menu-desktop.left{
    position: relative;
    left: 30px;
    top: 0px;
}
.menu-desktop.left li a{
    font-size: 20px;
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  
  .modal-container {
    margin: 60px auto;
    padding-top: 0px;
    position: relative;
    /* width: 500px; */
  }
  .modal-container .modal-btn {
    display: block;
    margin: 0 auto;
    color: #fff;
    /* width: 160px;
    height: 50px; */
    /* line-height: 50px; */
    background: rgb(15, 15, 15);
    padding: 5px;
    /* font-size: 18px; */
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
  }
  .modal-container .modal-btn:hover {
    background: #365690;
  }
  .modal-container .modal-content,
  .modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-container .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .modal-container .modal-close:hover {
    color: #333;
  }
  .modal-container .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446CB3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
  }
  .modal-container .modal-content-btn:hover {
    color: #fff;
    background: #365690;
  }
  .modal-container #modal-toggle {
    display: none;
  }
  .modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    /* max-width: 400px; */
    width: 600px;
    height: auto;
    padding: 10px 30px;
    position: fixed;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
    text-align: left;
    font-size: 16px;
  }

  .modal-container .modal-content .body input{
      font-size: 18px;
      padding: 5px;
      border: 1px solid #333;
      width: 100%;
      height: auto;
      border-radius: 5px;
  }

  .modal-container .modal-content .body textarea{
    width: 100%;
    border: 1px solid #333;
    padding: 5px;
  }

  .modal-container .modal-content .footer{
      text-align: right;
  }
  .modal-container .modal-content  .btm-me{
    padding: 5px;
    background-color: #06b300;
    color: #fff;
    border-radius: 5px;
  }
  @media (max-width: 400px) {
    .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
      left: 0;
    }
  }